<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<body>
    {{> header}}</br>

    <div>
        {{error}}
    </div>

    <ul>
        {{#each weathers}}
        <li>
            <a href="/weather/{{city}}">{{city}}</a>
        </li>
        {{/each}}
    </ul>

    <div>
        <p>City {{weather.name}}</p>
        <p>Temperatyre {{weather.main.temp}}</p>
        <p>Pressure {{weather.main.pressure}}</p>
        <p>Humidity {{weather.main.humidity}}</p>
    </div>


    {{> footer}}
</body>

</html>